<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Revista Gravedad</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Revista Gravedad: porque la verdad cae">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../public/css/icomoon.css">
	<link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

	<header class="header">

		<figure class="container_logo">
			<img class="container_logo-logo" src="../public/img/logo-header.png" />
		</figure>

		<nav class="menu">
			<ul class="menu-list">
				<li class="menu-items">	
					<a class="menu-link" href="">Inicio</a>
				</li>
				<li class="menu-items">
					<a class="menu-link" href="">Nosotros</a>
				</li>
				<li class="menu-items">
					<a class="menu-link" href="">destacados</a>
				</li>
				<li class="menu-items">
					<a class="menu-link" href="">secciones</a>
				</li>
				<li class="menu-items">
					<a class="menu-link" href="">suscripción</a>
				</li>
				<li class="menu-items">
					<a class="menu-link" href="">contacto</a>
				</li>
			</ul>
		</nav>

	</header>

	<div class="container_news">
		<section class="section_main_news">
			<h1 class="section_main_news-title title_section">Noticia del día</h1>
			
			<a href="#" class="section_main_news-goto">
				<article class="section_main_news-article">
					<img class="section_main_news-picture" src="../public/img/noticia-principal-1.png" alt="">
					<h3 class="title_news">El juicio político de Dilma Rousseff en Brasil está un paso más cerca</h3>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem nostrum sapiente officiis accusantium nemo culpa aliquid aspernatur odio incidunt, soluta obcaecati quae. Deleniti eveniet nostrum saepe, minus odit maiores.</p>
				</article>
			</a>

		</section>

		<section class="section_outstanding">
			<h1 class="section_outstanding-title title_section">Destacados</h1>
			
			<a href="#" class="section_outstanding-goto">
				<article class="article_outstanding">
					<img class="article_outstanding-picture" src="../public/img/destacado.png" alt="">
					<div class="container_outstanding-text">
						<h3 class="title_news">Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
						<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
					</div>
				</article>
			</a>
			<a href="#" class="section_outstanding-goto">
				<article class="article_outstanding">
					<img class="article_outstanding-picture" src="../public/img/destacado.png" alt="">
					<div class="container_outstanding-text">
						<h3 class="title_news">Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
						<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
					</div>
				</article>
			</a>
			<a href="#" class="section_outstanding-goto">
				<article class="article_outstanding">
					<img class="article_outstanding-picture" src="../public/img/destacado.png" alt="">
					<div class="container_outstanding-text">
						<h3 class="title_news">Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
						<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
					</div>
				</article>
			</a>

		</section>
	</div>

	<div class="container_categories">
		<section class="section_category">

			<h1 class="title_section section_category-title">Secciones sin gravedad</h1>
			
			<div class="container_categories-articles">

				<article class="section_category-article">
					<h4 class="section_category-article-title">Moda</h4>
					<a href="#" class="section_category-goto">
						<figure class="container_figure_category">
							<img class="container_figure_category-picture" src="../public/img/seccion1.png" alt="">
							<figcaption class="container_figure_category-figcaption">El caso Gucci explora los límites de los delgados</figcaption>
						</figure>
					</a>
				</article>

				<article class="section_category-article">
					<h4 class="section_category-article-title">Vida</h4>
					<a href="#" class="section_category-goto">
						<figure class="container_figure_category">
							<img class="container_figure_category-picture" src="../public/img/seccion2.png" alt="">
							<figcaption class="container_figure_category-figcaption">El caso Gucci explora los límites de los delgados</figcaption>
						</figure>
					</a>
				</article>

				<article class="section_category-article">
					<h4 class="section_category-article-title">Internacional</h4>
					<a href="#" class="section_category-goto">
						<figure class="container_figure_category">
							<img class="container_figure_category-picture" src="../public/img/seccion3.png" alt="">
							<figcaption class="container_figure_category-figcaption">El caso Gucci explora los límites de los delgados</figcaption>
						</figure>
					</a>
				</article>
			</div>

		</section>
	</div>

	<footer class="footer">
		
		<div class="container_menu_footer">

			<h3 class="container_menu_footer-title">Nuestras Secciones</h3>

			<ul class="menu_footer-list">
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">nacional</li>
				</a>
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">internacional</li>
				</a>
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">tecnología</li>
				</a>
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">cultura</li>
				</a>
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">vida</li>
				</a>
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">deportes</li>
				</a>
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">economía</li>
				</a>
				<a href="" class="menu_footer-links">
					<li class="menu_footer-items">educación</li>
				</a>
			</ul>

		</div>

		<div class="container_logo_footer">
				<img class="logo_footer" src="../public/img/logo-footer.png" alt="">
				<p class="copyright">Copyright © 2016</p>
		</div>

		<div class="container_social">
			<a class="container_social-link" href="https://facebook.com/monteriajs" target="_blank">
				<span class="link_facebook icon-facebook"></span>
			</a>
			<a class="container_social-link" href="https://twitter.com/monteriajs" target="_blank">
				<span class="link_twitter icon-twitter"></span>
			</a>
			<a class="container_social-link" href="https://instagram.com/monteriajs" target="_blank">
				<span class="link_instagram icon-instagram"></span>
			</a>
		</div>

	</footer>

</body>
</html>