<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<title>Revista Gravedad</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Revista Gravedad: Porque la verdad cae" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../public/css/icomoon.css" />
	<link rel="stylesheet" href="../public/css/style.css" />
</head>
<body>

	<header class="header">

		<figure class="header__container-logo">
			<img class="header__container-logo__logo" src="../public/img/logo-header.png" />
		</figure>

		<nav class="menu">
			<ul class="menu__list">
				<li class="menu__list__items">	
					<a class="menu__list__items__link" href="">Inicio</a>
				</li>
				<li class="menu__list__items">
					<a class="menu__list__items__link" href="">Nosotros</a>
				</li>
				<li class="menu__list__items">
					<a class="menu__list__items__link" href="">destacados</a>
				</li>
				<li class="menu__list__items">
					<a class="menu__list__items__link" href="">secciones</a>
				</li>
				<li class="menu__list__items">
					<a class="menu__list__items__link" href="">suscripción</a>
				</li>
				<li class="menu__list__items">
					<a class="menu__list__items__link" href="">contacto</a>
				</li>
			</ul>
		</nav>

	</header>

	<div class="container-news">
		<section class="main-news">
			<h1 class="main-news__title title-section">Noticia del día</h1>
			
			<a href="#" class="main-news__goto">
				<article class="main-news__article">
					<img class="main-news__article__picture" src="../public/img/noticia-principal-1.png" alt="">
					<h3 class="title-news">El juicio político de Dilma Rousseff en Brasil está un paso más cerca</h3>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem nostrum sapiente officiis accusantium nemo culpa aliquid aspernatur odio incidunt, soluta obcaecati quae. Deleniti eveniet nostrum saepe, minus odit maiores.</p>
				</article>
			</a>

		</section>

		<section class="outstanding-news">
			<h1 class="outstanding-news__title title-section">Destacados</h1>
			
			<a href="#" class="outstanding-news__goto">
				<article class="outstanding-news__article">
					<img class="outstanding-news__article__picture" src="../public/img/destacado.png" alt="">
					<div class="outstanding-news__article__content-text">
						<h3 class="title-news">Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
						<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
					</div>
				</article>
			</a>
			<a href="#" class="outstanding-news__goto">
				<article class="outstanding-news__article">
					<img class="outstanding-news__article__picture" src="../public/img/destacado.png" alt="">
					<div class="outstanding-news__article__content-text">
						<h3 class="title-news">Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
						<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
					</div>
				</article>
			</a>
			<a href="#" class="outstanding-news__goto">
				<article class="outstanding-news__article">
					<img class="outstanding-news__article__picture" src="../public/img/destacado.png" alt="">
					<div class="outstanding-news__article__content-text">
						<h3 class="title-news">Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
						<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
					</div>
				</article>
			</a>

		</section>
	</div>

	<div class="container-categories">
		<section class="categories">

			<h1 class="title-section categories__title">Secciones sin gravedad</h1>
			
			<div class="categories__container">

				<article class="category">
					<h4 class="category__title">Moda</h4>
					<a href="#" class="category__goto">
						<figure class="category__container-img">
							<img class="category__container-img__image" src="../public/img/seccion1.png" alt="">
							<figcaption class="category__container-img__figcaption">El caso Gucci explora los límites de los delgados</figcaption>
						</figure>
					</a>
				</article>

				<article class="category">
					<h4 class="category__title">Vida</h4>
					<a href="#" class="category__goto">
						<figure class="category__container-img">
							<img class="category__container-img__image" src="../public/img/seccion2.png" alt="">
							<figcaption class="category__container-img__figcaption">El caso Gucci explora los límites de los delgados</figcaption>
						</figure>
					</a>
				</article>

				<article class="category">
					<h4 class="category__title">Internacional</h4>
					<a href="#" class="category__goto">
						<figure class="category__container-img">
							<img class="category__container-img__image" src="../public/img/seccion3.png" alt="">
							<figcaption class="category__container-img__figcaption">El caso Gucci explora los límites de los delgados</figcaption>
						</figure>
					</a>
				</article>

			</div>

		</section>
	</div>

	<footer class="footer">
		
		<div class="footer__menu">

			<h3 class="footer__menu__title">Nuestras Secciones</h3>

			<ul class="footer__menu__list">
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">nacional</li>
				</a>
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">internacional</li>
				</a>
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">tecnología</li>
				</a>
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">cultura</li>
				</a>
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">vida</li>
				</a>
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">deportes</li>
				</a>
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">economía</li>
				</a>
				<a href="#" class="footer__menu__list__links">
					<li class="footer__menu__list__items">educación</li>
				</a>
			</ul>

		</div>

		<div class="footer__copyright">
				<img class="footer__copyright__logo" src="../public/img/logo-footer.png" alt="">
				<p class="copyright">Copyright © 2016</p>
		</div>

		<div class="footer__social">
			<a class="footer__social__link" href="https://facebook.com/monteriajs" target="_blank">
				<span class="link-facebook icon-facebook"></span>
			</a>
			<a class="footer__social__link" href="https://twitter.com/monteriajs" target="_blank">
				<span class="link-twitter icon-twitter"></span>
			</a>
			<a class="footer__social__link" href="https://instagram.com/monteriajs" target="_blank">
				<span class="link-instagram icon-instagram"></span>
			</a>
		</div>

	</footer>

</body>
</html>