<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>HTML5-CSS3</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

	<header>

		<figure>
			<img src="" alt="">
		</figure>

		<nav>
			<ul>
				<li><a href=""></a>Inicio</li>
				<li><a href=""></a>Nosotros</li>
				<li><a href=""></a>destacados</li>
				<li><a href=""></a>secciones</li>
				<li><a href=""></a>suscripción</li>
				<li><a href=""></a>contacto</li>
			</ul>
		</nav>

	</header>

	<div>
		<section>
		
			<article>
				<h2>Noticias del día</h2>
				<figure>
					<img src="" alt="">
				</figure>
				<h3>El juicio político de Dilma Rousseff en Brasil está un paso más cerca</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem nostrum sapiente officiis accusantium nemo culpa aliquid aspernatur odio incidunt, soluta obcaecati quae. Deleniti eveniet nostrum saepe, minus odit maiores.</p>
			</article>

		</section>

		<section>
			
			<h2>Destacados</h2>
			<article>
				<figure>
					<img src="" alt="">
				</figure>
				<h3>Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
			</article>

			<article>
				<figure>
					<img src="" alt="">
				</figure>
				<h3>Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
			</article>

			<article>
				<figure>
					<img src="" alt="">
				</figure>
				<h3>Un argentino infiltra su estilo en el fútbol de la selección de Inglaterra</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quod, nulla velit, quisquam accusantium dolore eum sed nisi officia in eius, officiis repellendus ut sint animi deleniti exercitationem reprehenderit. Odit.</p>
			</article>

		</section>
	</div>


	<section>

		<h2>Secciones sin gravedad</h2>
		
		<article>
			<h4>moda</h4>
			<figure>
				<img src="" alt="">
			</figure>
			<h3>El caso Gucci explora los límites de los delgados</h3>
		</article>

		<article>
			<h4>vida</h4>
			<figure>
				<img src="" alt="">
			</figure>
			<h3>Los amigos, esa familia que cogemos</h3>
		</article>

		<article>
			<h4>Internacional</h4>
			<figure>
				<img src="" alt="">
			</figure>
			<h3>¿Algunas víctimas de ataques terroristas valen más que las  otras?</h3>
		</article>

	</section>

	<footer>
		
		<div>

			<h5>Nuestras Secciones</h5>

			<ul>
				<li>
					<a href="">nacional</a>
				</li>
				<li>
					<a href="">Internacional</a>
				</li>
				<li>
					<a href="">Tecnología</a>
				</li>
				<li>
					<a href="">Cultura</a>
				</li>
				<li>
					<a href="">vida</a>
				</li>
				<li>
					<a href="">deportes</a>
				</li>
				<li>
					<a href="">economia</a>
				</li>
				<li>
					<a href="">educación</a>
				</li>
			</ul>

		</div>

		<div>
			<figure>
				<img src="" alt="">
				<p></p>
			</figure>
		</div>

		<div>
			<a href="">
				<img src="" alt="">
			</a>
			<a href="">
				<img src="" alt="">
			</a>
			<a href="">
				<img src="" alt="">
			</a>
		</div>

	</footer>

</body>
</html>