body{
	color: #2e3436;
	font-family: 'Josefin Sans';
	font-size: 16px;
}

/*Section header*/
.header{
	align-items: stretch;
	background-color: #ec407a;
	display: flex;
	justify-content: space-between;
}
.header__container-logo{
	align-items: center;
	display: flex;
	margin: 0;
	width: 20%;
}
.header__container-logo__logo{
	width: 100%;
}

/* Section menu */
.menu{
	align-items: stretch;
	display: flex;
	flex-direction: row;
}
.menu__list{
	display: flex;
	margin: 0;
	padding: 0;
}
.menu__list__items{
	align-items: center;
	display: flex;
}
.menu__list__items__link{
	color: #2e3436;
	font-size: .9rem;
	padding: 2rem .5rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease;
}
.menu__list__items__link:hover{
	background-color: #d81b60;
	color: #fff;
}

/*Section News*/
.container-news{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.title-section{
	border-bottom: 2px solid #2e3436;
	margin: .5rem 0;
}
/*Section Main New*/
.main-news{
	width: 38%;
}
.main-news__article{
	background-color: #eeeeec;
	font-family: 'Noto Serif';
	padding: 0 0 .5rem;
	transition: all .3s ease;
}
.main-news__article:hover{
	box-shadow: 1px 2px 5px #a9a9a9;
}
.main-news__article:hover .title-news{
	text-decoration: underline;
}
.main-news__goto, .outstanding-news__goto, .category__goto{
	color: #2e3436;
	text-decoration: none;
}
.title-news{
	font-style: italic;
	margin: .3rem 0;
}
.paragraph{
	font-size: .8rem;
	margin: 0;
}
.main-news__article__picture{
	align-self: center;
	width: 100%;
}
/*Section Outstanding New*/
.outstanding-news{
	width: 48%;
}
.outstanding-news__article{
	background-color: #eeeeec;
	display: flex;
	font-family: 'Noto Serif';
	justify-content: space-between;
	margin-bottom: .5rem;
	padding: 0 0 .5rem;
	padding: 0;
	transition: all .3s ease;
}
.outstanding-news__article:hover{
	box-shadow: 1px 2px 5px #a9a9a9;
}
.outstanding-news__article:hover .title-news{
	text-decoration: underline;
}
.outstanding-news__article__picture{
	height: 20%;
	width: 20%;
}
.outstanding-news__article__content-text{
	width: 78%;
}

/*Section Categories*/
.container-categories{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem 0 6rem;
}
.categories{
	width: 90%;
}
.categories__container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.category{
	margin: 0 .3rem;
	width: 25%;
}
.category__title{
	border-bottom: 1px solid #888a85;
	color: #887a85;
	font-size: 1.1rem;
	margin: 0 0 .5rem;
	padding: .1rem;
}
.category__container-img{
	background-color: #eeeeec;
	margin: 0;
	padding: 0 0 .5rem;
	transition: all .3s ease;
	width: 100%;
}
.category__container-img:hover{
	box-shadow: 1px 2px 5px #a9a9a9;
}
.category__container-img:hover .category__container-img__figcaption{
	text-decoration: underline;
}
.category__container-img__image{
	width: 100%;
}
.category__container-img__figcaption{
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 600;
}

/*Section footer*/
.footer{
	background-color: #2e3436;
	color: white;
	display: flex;
	padding: 1rem .5rem;
}
.footer__menu{
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	width: 15%;
}
.footer__menu__title{
	border-bottom: 2px solid white;
	margin: 0;
}
.footer__menu__list{
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 8rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer__menu__list__links{
	border-left: 3px solid #ec407a;
	color: white;
	display: inline-block;
	margin: .2rem 0;
	padding: .2rem 1rem .2rem .6rem;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .1s ease;
}
.footer__menu__list__links:hover{
	border-left: 5px solid #00b0ff;
}
.footer__copyright{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer__copyright__logo{
	width: 20%;
}
.copyright{
	margin: 0;
}
/*Section social network*/
.footer__social{
	align-items: center;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 20%;
}
.footer__social__link{
	background-color: #2e3436;
	border-radius: 50%;
	color: #00b0ff;
	font-size: 1.5rem;
	padding: .6rem .7rem;
	text-decoration: none;
	transition: all .2s ease;
}
.footer__social__link:hover{
	background-color: #00b0ff;
	color: #2e3436;
}